
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {

    width: 500px;
    height: 500px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    border: 2px solid red;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand h1 {
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 20px;
    border: 2px solid #008ECC;
    background:  #8CCCCE;
}
textarea {
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    position: fixed;
    bottom:100px

}

.message {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    max-width:  300px;
    position: relative;


}
.incoming {
    background: white;
    color: black;
}
.outgoing {
    background: #e9eafd;
    color: green;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
